@import url("https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: Winky Rough;
}
body {
  margin: 0;
}
.menu {
  height: 60px;
  background-color: #ffd63a;
  border-radius: 0px 0px 50px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.opcoes_menu {
  margin-left: 70px;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.opcoes_menu a {
  text-decoration: none;
  color: #0000005e;
  font-size: 25px;
  font-weight: 700;
}
.conteudo {
  height: 610px;
  background-color: white;
}
.rodape {
  height: 50px;
  background-color: #000000;
  color: white;
  text-align: center;
  align-content: center;
}
/* PALETAS DE CORES
#6DE1D2
#FFD63A
#FFA955
#F75A5A */
